<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @mer20.sequence %>
</p>

<p>
  <strong>Strand:</strong>
  <%= @mer20.strand %>
</p>

<%= link_to 'Edit', edit_mer20_path(@mer20) %> |
<%= link_to 'Back', mer20s_path %>
