<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence:</strong>
  <%= @mer20.sequence %>
</p>

<p>
  <strong>Leading:</strong>
  <%= @mer20.leading %>
</p>

<p>
  <strong>Lagging:</strong>
  <%= @mer20.lagging %>
</p>

<p>
  <strong>Genome:</strong>
  <%= @mer20.genome_id %>
</p>

<%= link_to 'Edit', edit_mer20_path(@mer20) %> |
<%= link_to 'Back', mer20s_path %>
