<% if alert %>
  <p class="bg-danger col-md-6 col-md-offset-3"><%= alert %></p>
<% end %>
<!DOCTYPE html>
<head>
  <title>Search Crisper Sequences</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<br />
<body>
  <!-- When submit the form, the view rendered will be the index view of our articles resource -->
  <%= form_tag(mer20s_path, :method => "post", class: "form-group col-md-6 col-md-offset-3", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], class: "form-control input-lg", placeholder: "Search Sequences" %>
    <br >
    <div class = "checkbox-inline">
      <label>
        <%= check_box_tag(:search_DSM, params[:search_DSM], checked = true) %>
        DSM10061
      </label>
    </div>
    <div class = "checkbox-inline">
      <label>
        <%= check_box_tag(:search_LZ, params[:search_LZ],checked = true) %>
        LZ1561
      </label>
    </div>
    <%= submit_tag "Search", class: "btn btn-success btn-lg btn-block" %>
  <% end %>
  <div class = "row">
    <div class = "form-group col-md-6 col-md-offset-3">
      <%= yield %>
    </div>
  </div>
</body>
